@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Dosis', sans-serif;
}
